<div class="animate__animated animate__fadeIn">
    <mat-grid-list [cols]="1" rowHeight="70px" class="grid-list-styles">
        <mat-grid-tile 
            [colspan]="1"
            [rowspan]="1"
            [style.background]="">
            <h1 class="title-styles">Bienvenido!</h1>    
            <mat-divider class="divider-style"></mat-divider>
            
        </mat-grid-tile> 
    
    </mat-grid-list>
    
    <div class="text-style">
        <p>  
            Te damos la bienvenida nuevamente a SuperLists! Esperamos tengas un buen día!
            No olvides que ante cualquier consulta, duda o problema podes escribirnos a mezequielabogado@gmail.com
          <br>
          <br>
          ¡Saludos!
          </p>
    </div>
</div>

