 

.grid-list-styles {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}
.title-styles {
    position: absolute;
    left: 0px;
}

.divider-style {
    width: 100%; 
    margin-top:25px;
}

.text-style {
    margin-top:1px;
    margin-bottom: 1px;
    margin-left: 25px;
    margin-right: 25px;
}

.encuesta-style {
    margin-top: 50px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }