<div class="animate__animated animate__fadeIn">
  <mat-grid-list [cols]="1" rowHeight="70px" class="grid-list-styles">
      <mat-grid-tile 
          [colspan]="1"
          [rowspan]="1"
          [style.background]="">
          <h1 class="title-styles">Mis Listas</h1>    
          <mat-divider class="divider-style"></mat-divider>
           
      </mat-grid-tile> 
  
  </mat-grid-list>

  <div  *ngIf="!haveTasks" class="text-style">
      <p>  
          No tenés listas! Podés crear una haciendo click en el botón 'Nueva Lista'
      </p>
  </div>

  <div class="demo-button-container text-style">
      <button mat-raised-button [disabled]="loading" class="demo-button add-btn btn-margins" (click)="createList()">
        <mat-icon>add</mat-icon> Nueva lista
      </button>
      
      <button
            mat-raised-button 
            class="demo-button" [disabled]="loading" (click)="joinListByCode()" class="demo-button join-btn btn-margins">
            <mat-icon>playlist_add</mat-icon> Unirse a lista
      </button>

      <button mat-raised-button  color="warn" [disabled]="selectionIsEmpty || loading" (click)="deleteListsDialog()" class="demo-button btn-margins">
          <mat-icon class="icon-size" >delete </mat-icon> Eliminar listas
      </button>
    
      <hr>
  </div> 
  <div class="text-style">
  <div *ngIf="loading" class="spinner">
      <mat-progress-spinner 
      class="example-margin"
      [color]="'accent'"
      [mode]="'indeterminate'"
      [diameter]="50">
      </mat-progress-spinner>
  </div>
  <table *ngIf="!loading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
    
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> 
  
    <!-- Name Column -->
    <ng-container matColumnDef="name" class="column-mgn">
      <th mat-header-cell *matHeaderCellDef  class="column-mgn"> Titulo </th>
      <td mat-cell *matCellDef="let element"  class="column-mgn"> {{element.name}} </td>
    </ng-container>
  
     
    <!-- ESTO SACARLO y QUE LO VEA EN DETALLES
      <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> 
        <button (click)="editListItem(element['ID'])" mat-raised-button class="info-btn">
          {{element.description}} 
      </td>
      
    </ng-container>
    -->


    <ng-container matColumnDef="inviteCode">
      
        <th mat-header-cell *matHeaderCellDef>
         <span>Cod. Invit</span>
        </th> 

      <td mat-cell *matCellDef="let element">
        <!-- <button  title="Hacé click para copiar el codigo al portapapeles" mat-raised-button color="primary" [cdkCopyToClipboard]="element['invite_code']"> <mat-icon class="icon-display" [cdkCopyToClipboard]="element['invite_code']"> content_copy </mat-icon> </button> -->
        <mat-icon class="icon-display" [cdkCopyToClipboard]="element['invite_code']"> content_copy </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="viewList">
      <th mat-header-cell *matHeaderCellDef> Detalle </th>
      <td mat-cell *matCellDef="let element"> 
        <!-- <button (click)="editListItem(element['ID'])" mat-raised-button class="info-btn">-->
          <!-- <button mat-raised-button class="info-btn"> 
          <mat-icon class="icon-size">info_outline</mat-icon>
        </button> --> 
          <mat-icon class="icon-size" (click)="getList(element.ID)">info_outline</mat-icon> 
        
      </td>
      
    </ng-container>
 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
</div>