.icon-display {
  transform: scale(0.7);
}

.grid-list-styles {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
}
.title-styles {
  position: absolute;
  left: 0px;
}

.divider-style {
  width: 100%; 
  margin-top:25px;
}

.text-style {
  margin-top:1px;
  margin-bottom: 1px;
  margin-left: 25px;
  margin-right: 25px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.delete-btn{
color:red
}  

.icon-size {
transform: scale(0.7);
}

.join-btn{
background-color: lightskyblue;
}

.add-btn{
background-color:green;
}

.info-btn {
background-color: lightskyblue;
}  

.column-mgn {
margin-right: 1000px;
margin-left: 1000px;
}

.btn-margins {
margin-right: 5px;
margin-top: 5px;
} 

.list-item-pending {
background-color:red;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}