<body class="animate__animated animate__fadeIn"> 
    <p>
    <mat-toolbar class="base ">
      <img src="assets/resources/images/superlists-right-pencil.svg" class="logo-img">
      <h1 class="example-app-name">SuperLists</h1>
    </mat-toolbar>
  </p>

  <div class="content" role="main">
  
    <mat-card class="card-color card-size card-align">
        
         <mat-card-title class="card-title-alig pt-1 pb-1">Ingresar</mat-card-title> 
         <div [formGroup]="loginForm"> 
 
             <div class="example-container margins">
                 <mat-form-field appearance="fill">
                 <mat-label class="label-field-color margins">Ingrese su email</mat-label>
                 <input matInput placeholder="jose@ejemplo.com" formControlName="email" required> 
                 <mat-error *ngIf="validEmail">{{getEmailErrorMessage()}}</mat-error> 
                 </mat-form-field>
             </div>
     
             <div class="example-container margins">
                 <mat-form-field appearance="fill">
                    <mat-label class="label-field-color">Ingrese su contraseña</mat-label>
                    <input matInput placeholder="contraseña" formControlName="password" type="{{inputPasswordFieldType}}">
                    <mat-error *ngIf="validPassword">{{getPasswordErrorMessage()}}</mat-error> 
                 </mat-form-field>
             </div>


             <div  >
                <mat-checkbox (click)="switchPasswordVisibility()" class="example-margin"><span>Mostrar contraseña</span></mat-checkbox>
            </div>
             
         </div>
 
 
         <mat-card-actions class="pt-1 pb-1"> 
             <button mat-raised-button (click)="login()" [disabled]="!validEmail || !validPassword || isPristine">Iniciar sesion</button> 
             <button mat-stroked-button (click)="signUp()">Crear cuenta</button> 
         </mat-card-actions>
    </mat-card>
 
 </div>

 

</body>