<body class="animate__animated animate__fadeIn"> 
    <p>
    <mat-toolbar class="base">
      <img src="assets/resources/images/superlists-right-pencil.svg" class="logo-img">
      <h1 class="example-app-name">SuperLists</h1>
    </mat-toolbar>
  </p>

  <div class="content" role="main">
  
    <mat-card class="card-color card-size card-align">
        
         <mat-card-title class="card-title-alig pt-1 pb-1">Registro</mat-card-title> 
         <div [formGroup]="signUpForm"> 

            <div class="example-container margins">
                <mat-form-field appearance="fill">
                <mat-label class="label-field-color margins">Ingrese su nombre o apodo</mat-label>
                <input matInput placeholder="Ej: Iván Lopez" formControlName="name" required (input)="isValidForm($event)"> 
                <mat-error>{{getNameErrorMessage()}}</mat-error> 
                </mat-form-field>
            </div>

 
             <div class="example-container margins">
                 <mat-form-field appearance="fill">
                 <mat-label class="label-field-color margins">Ingrese su email</mat-label>
                 <input matInput placeholder="jose@ejemplo.com" formControlName="email" required (input)="isValidForm($event)"> 
                 <mat-error>{{getEmailErrorMessage()}}</mat-error> 
                 </mat-form-field>
             </div>
     
             <div class="example-container margins">
                 <mat-form-field appearance="fill">
                 <mat-label class="label-field-color">Ingrese su contraseña</mat-label>
                 <input matInput placeholder="contraseña" formControlName="password" required type="{{inputPasswordFieldType}}" (input)="isValidForm($event)">
                 <mat-error>{{getPasswordErrorMessage()}}</mat-error> 
                 </mat-form-field>
             </div>

             <div  >
                <mat-checkbox  (change)="switchPasswordVisibility($event)" class="example-margin"><span>Mostrar contraseña</span></mat-checkbox>
            </div>
         </div>
 
 
          <div *ngIf="!creatingAccount">
             <button mat-raised-button color="primary" (click)="signup()" [disabled]="isPristine || loading || !fullCompleted || creatingAccount" class="btn-margins">Crear cuenta</button> 
             <button mat-stroked-button (click)="login()" class="btn-margins">Iniciar sesion</button> 
         </div>
         <div *ngIf="creatingAccount" class="spinner">
            <mat-progress-spinner 
            class="example-margin"
            [color]="'accent'"
            [mode]="'indeterminate'"
            [diameter]="30">
            </mat-progress-spinner>
        </div>
    </mat-card>
 
 </div>

 

</body>