<body class="animate__animated animate__fadeIn"> 
    
    <div *ngIf="loading" class="spinner">
        <mat-progress-spinner 
        class="example-margin"
        [color]="'accent'"
        [mode]="'indeterminate'"
        [diameter]="50">
        </mat-progress-spinner>
    </div>

    <div *ngIf="!loading" class="content" role="main">
    
      <mat-card class="card-color card-size card-align">
          
           <mat-card-title class="card-title-alig pt-1 pb-1">Detalles de la tarea</mat-card-title> 
           <div>   
              <form [formGroup]="editListItemForm">
   
                  <div class="example-container margins">
                      <mat-form-field appearance="fill">
                      <mat-label class="label-field-color margins">Título</mat-label>
                      <input matInput placeholder="Ej: Manzanas" formControlName="title" required> 
                      <mat-error>{{getTitleMessageError()}}</mat-error> 
                      </mat-form-field>
                  </div>
          
                  <div class="example-container margins">
                      <mat-form-field appearance="fill">
                          <mat-label class="label-field-color">Descripcion (opcional)</mat-label>
                          <input matInput placeholder="Ver oferta, comprar 1kg" formControlName="description">
                      </mat-form-field>
                  </div>

                  <div>
                    <mat-checkbox  formControlName="isDone" class="example-margin" (change)="updateStatus($event)"><span>Completada</span></mat-checkbox>
                 </div>
               
              </form>
           </div>
           
           <div *ngIf="!updating">
               <button mat-raised-button [disabled]="!validTitle || !validDescription || loading || isPristine" (click)="updateListItem()" class="btn-margins save-btn">Guardar cambios</button> 
               <button mat-stroked-button (click)="returnToList()" class="btn-margins return-btn">Volver a la lista</button> 
            </div>
                <div *ngIf="updating" class="spinner">
                    <mat-progress-spinner 
                    class="example-margin"
                    [color]="'accent'"
                    [mode]="'indeterminate'"
                    [diameter]="30">
                    </mat-progress-spinner>
                </div>
      </mat-card>
   
   </div>
  
   
  
  </body>