<div class="animate__animated animate__fadeIn">
    <mat-grid-list [cols]="1" rowHeight="70px" class="grid-list-styles">
        <mat-grid-tile 
            [colspan]="1"
            [rowspan]="1"
            [style.background]="">
            <h1 class="title-styles">Tareas</h1>    
            <mat-divider class="divider-style"></mat-divider>
             
        </mat-grid-tile> 
    
    </mat-grid-list>
 
    <div  *ngIf="!haveTasks" class="text-style">
        <p>  
            Esta lista no tiene tareas! Podés agregar una haciendo click en agregar!
        </p>
    </div>

    <div class="demo-button-container text-style">
        <button mat-raised-button [disabled]="loading" class="demo-button add-btn btn-margins">
          <mat-icon (click)="createItem()">add</mat-icon> Nueva tarea
        </button>
        
        <button mat-raised-button  color="warn" [disabled]="selectionIsEmpty || loading" (click)="deleteTasks()" class="demo-button btn-margins">
            <mat-icon class="icon-size" >delete </mat-icon> Eliminar tarea
        </button>
     
        <button mat-raised-button [disabled]="selectionIsEmpty || loading" (click)="markAsCompleted()" class="demo-button list-item-complete btn-margins">
          <mat-icon class="icon-size">done</mat-icon> Marcar completa
        </button> 
         <button mat-raised-button [disabled]="selectionIsEmpty || loading" (click)="markAsPending()" class="demo-button list-item-pending btn-margins">
          <mat-icon class="icon-size">lock_clock</mat-icon> Marcar pendiente
        </button>
        <hr>
    </div> 
    <div class="text-style">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
        
          <th mat-header-cell *matHeaderCellDef>
           <span>Hecho</span>
        </th>
         

        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      -->
      
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> 
    
      <!-- Name Column -->
      <ng-container matColumnDef="name" class="column-mgn">
        <th mat-header-cell *matHeaderCellDef  class="column-mgn"> Titulo </th>
        <td mat-cell *matCellDef="let element"  class="column-mgn"> {{element.title}} </td>
      </ng-container>
    
       
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let element"> 
          <button (click)="editListItem(element['ID'])" mat-raised-button class="info-btn">
            <mat-icon class="icon-size">info_outline</mat-icon>
          </button>
          
        </td>
        
      </ng-container>


      <ng-container matColumnDef="isDone">
        
          <th mat-header-cell *matHeaderCellDef>
           <span>Hecho</span>
        </th> 

        <td mat-cell *matCellDef="let element">
           <span>{{element['is_done'] | taskIsCompleted }}</span>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
</div>