<body class="animate__animated animate__fadeIn"> 
  

  <div class="content" role="main">
  
    <mat-card class="card-color card-size card-align">
        
         <mat-card-title class="card-title-alig pt-1 pb-1">Nueva lista</mat-card-title> 
         <div>   
            <form [formGroup]="newListForm">
 
                <div class="example-container margins">
                    <mat-form-field appearance="fill">
                    <mat-label class="label-field-color margins">Nombre</mat-label>
                    <input matInput placeholder="Ej: Compras" formControlName="name" required> 
                    <mat-error>{{getNameMessageError()}}</mat-error> 
                    </mat-form-field>
                </div>
        
                <div class="example-container margins">
                    <mat-form-field appearance="fill">
                        <mat-label class="label-field-color">Descripcion</mat-label>
                        <input matInput placeholder="Lista de compras del super" formControlName="description">
                        <mat-error>{{getDescriptionErrorMessage()}}</mat-error> 
                    </mat-form-field>
                </div>
             
            </form>
         </div>
  
         <mat-card-actions class="pt-1 pb-1"> 
             <button mat-raised-button (click)="createList()" [disabled]="!validName || !validDescription || isPristine || loading">Crear lista</button> 
             <button mat-stroked-button (click)="returnToLists()">Volver a mis listas</button> 
         </mat-card-actions>
    </mat-card>
 
 </div>

 

</body>